@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.nav{
    font-family: "Roboto";
    display: flex;
    justify-content: space-between;
    background-color: #333333;
}
.nav-title{
    display: flex;
    color: white;
    padding-left: 20px;
}
.nav-links{
    list-style: none;
    color: white;
    display: flex;
    justify-content: center;
    margin: 25px;
    gap: 20px;
}
.btn{
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color:#1AA2B8;
    color: white;
    height: 25px;
    width: 80px;
    border-radius: 5px;
    font-size: 12pt;
    box-shadow: 5px 5px black, -0.5em 0 .5em black;
    align-items: center;
}